<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a href="#" [routerLink]="['/servers',server.id,server.name]" class="list-group-item" *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    
<!--       
    <a routerLink="./servers" >Reload Page..</a> => "localHost/servers/servers" relative path (appends to the current path/url)
    <a routerLink="servers" >Reload Page..</a> => "localHost/servers/servers" relative path (appends to the current path/url)
    <a routerLink="/servers" >Reload Page..</a> => "localHost/servers" absolute path (appends to the root path/url)
    <a routerLink="../servers" >Reload Page..</a> => "localHost/servers" removes one level and  appends to that path/url) 
    <hr>
 -->

    <button class="btn btn-primary" (click)="GotOServicesR()"> Goto Servers using relative route </button>
    <hr>
    <app-edit-server></app-edit-server>
    <hr>
    <!-- <app-server></app-server> -->
  </div>
</div>
